/*Formatting*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: brown;
}

/*Header*/

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: brown;
    font-weight: 400;
    font-size: 35px;
    padding: 30px;
}
header nav{
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}

nav li{
    padding: 20px;
    font-size: 17px;
    font-weight: 200;
}
nav li a{
    color: brown;
    text-decoration: none;
}
header button{
    background-color: transparent;
    border: none;
}

/*Menu Breakpoint*/

@media(min-width: 830px){
    header nav{
        display: flex;
    }
    header button{
        display: none;
    }
}

/*Main section settings*/

main section div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    height: inherit;
    padding: 20px;
}
main section{
    text-align: center;
    height: 80vh;
}
main section div h1{
    font-size: 35px;
    margin: 30px 0;
}
main section div p{
    font-size: 20px;
}
main section.cta, main section.coffee-menu{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}

main section button{
    transition: 0.2s;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
    width: 170px;
    padding: 20px;
    margin-top: 20px;
}
main section button a{
    color: white;
    text-decoration: none;
}

main section button:hover{
    transition: 0.2s;
    box-shadow: 0px 0px 5px white;
}

/*Section cta*/

main section.cta{
    background-image: linear-gradient(rgba(15, 0, 0, 0.7), rgba(15, 0, 0, 0.7)),url(assets/cafe-gb52de6006_1920.jpg);
}
main section.cta div{
    justify-content: center;
}
.cta h1{
    margin: 20px 0px;
}
.cta h2, .cta p{
    font-size: 20px;
    margin: 10px 0;
}

/*Main and Section cta Breakpoints*/

@media(min-width: 370px){
    main section.cta{
        height: 75vh;
    }
}
@media(min-width:537px){
    main section{
        height: 70vh;
    }
    main section button{
        margin-top: 30px;
        width: 185px;
        font-size: 15px;
    }
}
@media(min-width: 684px){
    main section div h1{
        font-size: 40px;
    }
    main p{
        font-size: 25px;
    }
    main section, main section.cta{
        height: 80vh;
    }
    .cta h1{
        margin: 30px 0;
    }
    .cta h2, .cta p{
        font-size: 25px;
        margin: 20px 0;
    }
    main section button{
        width: 200px;
        padding: 25px;
        font-size: 16px;
    }
}
@media(min-width:1020px){
    main section div h1{
        font-size: 50px;
    }
    main p{
        font-size: 30px;
    }
    .cta h1{
        
        margin: 35px 0;
    }
    .cta h2, .cta p{
        font-size: 30px;
        margin: 20px 0;
    }
    main section button{
        color: rgba(255, 255, 255, 0.5);
        width: 250px;
        font-size: 17px;
    }
}

/*Section Description*/

main .description div .p{
    justify-content: center;
    color: black;
} 

/*Description Breakpoints*/
@media(max-width: 426px){
    main section.description{
        height: 90vh;
    }
}
@media(max-width: 396px){
    main section.description{
        height: 100vh;
    }
}
@media(max-width: 326px){
    main section.description{
        height: 120vh;
    }
}
/*Coffee Menu*/

main section.coffee-menu{
    background-image: linear-gradient(rgba(15, 0, 0, 0.6), rgba(15, 0, 0, 0.6)),url(assets/coffee-g25b5693bc_1920.jpg);
}
.coffee-drinks{
    margin-top: 60px;
    list-style: none;
    width: 100%;
}
.coffee-drinks li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.coffee-drinks li a{
    text-decoration: none;
    border-radius: 50%;
}
.coffee-drinks li a p{
    color: white;
    text-decoration: none;
}
.coffee-drinks li a.slider-nav p{
    font-size: 40px;
}
.coffee-drinks li a img{
    transition: 0.2s;
    border: 2px solid white;
    border-radius: 50%;
    width: 170px;
}
.coffee-drinks li a img:hover{
    transition: 0.2s;
    box-shadow: 0px 0px 5px white;
}
/*Coffee Menu Breakpoints*/

@media(min-width:537px){
    .coffee-drinks{
        margin-top: 30px;
    }
    .coffee-drinks li a img{
        width: 200px;
    }
}
@media(min-width: 684px){
    .coffee-drinks{
        margin-top: 40px;
    }
    .coffee-drinks li a img{
        width: 230px;
    }
}
@media(min-width: 1020px){
    .coffee-drinks{
        margin-top: 30px;
    }
}

/*Contact Section*/

section.contact div .contact-field{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.contact-field a{
    transition: 0.2s;
    color: brown;
    text-decoration: none;
    font-size: 20px;
}
.contact-field a:hover:not(button a){
    transition: 0.2s;
    text-decoration: underline;
}

.contact-field button{
    border: none;
    background-color: brown;
}
.contact-field button a{
    color: white;
    font-size: 16px;
}
.contact-field button:hover{
    border: 1px solid brown;
    background-color: transparent;
}
.contact-field button:hover a{
    color: brown;
}